body{
    background-color: beige;
}

input[type=text]{
    background-color: aquamarine;
}

input[type=email]{
    background-color: blanchedalmond;
}

input[type=password]{
    background-color: antiquewhite;
}

input[type=date]{
    background-color: antiquewhite;
}

input[type=submit]{
    background-color: brown;
    color: white;
}

textarea{
    background-color: bisque;
}

