body{
    background-color: beige;
}

input[type=text]{
    background-color: bisque;
    width: 500px;
    height: 5vh;
}

input[type=email]{
    background-color: bisque;
    width: 500px;
    height: 5vh;
}

input[type=password]{
    background-color: bisque;
    width: 500px;
    height: 5vh;
}

input[type=date]{
    background-color: bisque;
    width: 500px;
    height: 5vh;
}

input[type=submit]{
    background-color: maroon;
    color: white;
}

select{
    background-color: bisque;
    width: 500px;
    height: 5vh;
}

textarea{
    background-color: bisque;
    width: 500px;
}

