*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f2f4f7;
}

a{
    text-decoration: none;
}

#login{
    width: 100%;
    height: 100vh;
}

#loginleft{
    width: 45%;
    float: left;
    margin: 20vh 2.5%;
}

#loginleft img{
    width: 300px;
}

#loginright{
    width: 45%;
    float: left;
    margin: 20vh 2.5%;
}

input[type=text]{
    height: 7vh;
    width: 400px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid gray;
}

input[type=password]{
    height: 7vh;
    width: 400px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid gray;
}

input[type=submit]{
    height: 7vh;
    width: 404px;
    margin-bottom: 10px;
    background-color: #0866ff;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid white;
}

#new{
    height: 7vh;
    width: 404px;
    margin-bottom: 10px;
    background-color: #42b72a;
    color: white;
    border-radius: 8px;
    border: 1px solid white;
}

form{
    background-color: white;
    padding: 20px;
    width: 400px;
    height: 300px;
    border-radius: 10px;
}