table {
    width: 80%;
    margin: 50px;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    height: 30px;
}

tr:nth-child(odd) {
    background-color: azure;
}

tr:nth-child(even) {
    background-color: beige;
}