*{
    padding: 0;
    margin: 0;
}

table{
    width: 80%;
    border-collapse: collapse;
    border: 1px solid black;
}

th, td{
    border: 1px solid black;
    padding: 0px 5px 5px 5px;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: black;
}

#result{
    text-align: left;
}

#main{
    width: 100%;
    height: 100vh;
}

#sidebar{
    background-color: brown;
    width: 20%;
    height: 100vh;
    float: left;
    text-align: center;
    padding-top: 20px;
}

#sidebar ul{
    list-style: none;
}

#content{
    background-color: bisque;
    width: 80%;
    height: 100vh;
    float: left;
}

iframe{
    width: 100%;
    height: 100vh;
    margin: 20px;
}

input[type=text]{
    width: 50%;
    height: 25px;
}

select{
    width: 50%;
    height: 25px;
}

input[type=submit]{
    background-color: green;
    color: white;
    width: 25%;
    height: 25px;
}
input[type=reset]{
    background-color: red;
    color: white;
    width: 25%;
    height: 25px;
}

textarea{
    width: 50%;
    height: 100px;
}
